body {
    background-image: url('https://i.ibb.co/LgqZpk9/Portada-fondo.png'); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.subscription-search-container {
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
    color: #fff;
}

.subscription-search-container h1 {
    text-align: center;
    font-size: 1.5em;
    color: #fff;
}

.subscription-search-container p {
    text-align: center;
    font-size: 1em;
    color: #ddd;
}

.subscription-search-container input[type="tel"] {
    width: 100%; /* Cambiado para llenar el ancho del contenedor */
    height: 30px;
    padding: -20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 8px;
    text-align: center;
}

.subscription-search-container input[type="email"],
.subscription-search-container input[type="password"] {
    width: 100%; /* Llena el ancho del contenedor */
    height: 30px;
    padding: -20px 10px; /* Corregido para mejorar la apariencia */
    margin-bottom: 10px;
    border: none;
    border-radius: 8px;
}

.subscription-search-container button {
    width: 100%;
    padding: 10px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
}

.subscription-search-container button:hover {
    background-color: #414040;
}

.subscriptions-list {
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
}

.subscriptions-list li.subscription-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: rgba(128, 126, 126, 0.2);
}

.subscription-image {
    width: 50%;
    height: 30%;
    margin-right: 10px;
    object-fit: contain;
}

.subscription-details {
    font-size: 1.2em;
    color: #fff;
}

.subscription-details .dates {
    font-size: 0.9em;
    color: #ccc;
}

@media (max-width: 768px) {
    .subscription-search-container {
        padding: 10px;
        max-width: 100%;
    }

    .subscription-search-container h1 {
        font-size: 1.2em;
    }

    .subscription-search-container p {
        font-size: 0.9em;
    }

    .subscriptions-list li.subscription-item {
        flex-direction: column;
        align-items: center;
    }

    .subscription-image {
        margin-bottom: 10px;
    }

    .subscription-details {
        text-align: center;
        font-size: 1em;
        color: #fff;
    }
}

@media (max-width: 480px) {
    .subscription-search-container {
        padding: 5%;
    }

    .subscription-search-container h1 {
        font-size: 1em;
    }

    .subscription-search-container p {
        font-size: 0.8em;
    }

    .subscriptions-list li.subscription-item {
        padding: 5%;
    }

    .subscription-details {
        font-size: 0.9em;
    }
}

.company-logo {
    display: block;
    max-width: 240px; /* ajusta según tus necesidades */
    margin: 10px auto 20px;
    height: auto;
}

@media (max-width: 768px) {
    .company-logo {
        max-width: 180px; /* más pequeño en dispositivos móviles */
    }
}
